################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/network_dash/obj/
/network_dash/bin/
/.vs
