################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Network_Dashboard_Web/obj/
/Network_Dashboard_Web/bin/
/.vs
/ConsoleApp_SystemUsage/bin/
/ConsoleApp_SystemUsage/obj/