@model Network_Dashboard_Web.Models.Authentication.LoginModel

@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon" sizes="76x76" href="~/img/apple-icon.png">
	<link rel="icon" type="image/png" href="~/img/favicon.png">
	<link rel="stylesheet" href="~/css/style.css">
	<title>
		Login
	</title>


	<meta name="twitter:card" content="product">
	<meta name="twitter:site" content="@@">
	<meta name="twitter:title" content="Network Monitoring">


	<link rel="stylesheet" type="text/css"
		  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

	<link href="~/css/nucleo-icons.css" rel="stylesheet" />
	<link href="~/css/nucleo-svg.css" rel="stylesheet" />

	<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

	<link id="pagestyle" href="~/css/material-dashboard.min.css?v=3.0.6" rel="stylesheet" />

	<style>
		.async-hide {
			opacity: 0 !important
		}
	</style>


</head>

<body class="g-sidenav-show  bg-gray-200">


	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0"
				style="display:none;visibility:hidden"></iframe>
	</noscript>

	<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
		<div class="container-fluid py-4">
			<div class="row mt-10">
				<div class="col-lg-3 col-md-6 col-12 mx-auto">
					<div class="card z-index-0 fadeIn3 fadeInBottom">
						<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
							<div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
								<h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Sign in</h4>
								<!-- <div class="row mt-3">
								  <div class="col-2 text-center ms-auto">
									<a class="btn btn-link px-3" href="javascript:;">
									  <i class="fa fa-facebook text-white text-lg"></i>
									</a>
								  </div>
								  <div class="col-2 text-center px-1">
									<a class="btn btn-link px-3" href="javascript:;">
									  <i class="fa fa-github text-white text-lg"></i>
									</a>
								  </div>
								  <div class="col-2 text-center me-auto">
									<a class="btn btn-link px-3" href="javascript:;">
									  <i class="fa fa-google text-white text-lg"></i>
									</a>
								  </div>
								</div> -->
							</div>
						</div>
						<div class="card-body">
							<form role="form" class="text-start" asp-controller="auth" asp-action="login">
								@Html.HiddenFor(x => x.ReturnUrl)
								<div class="input-group input-group-outline my-3">
									<label class="form-label">Username</label>
									<input type="text" name="Username" class="form-control">
								</div>
								<div class="input-group input-group-outline mb-3">
									<label class="form-label">Password</label>
									<input type="password" name="Password" class="form-control">
								</div>
								<div class="form-check form-switch d-flex align-items-center mb-3">
									<input class="form-check-input" type="checkbox" id="rememberMe" checked="checked">
									<input type="hidden" name="RememberLogin" value="true">
									<label class="form-check-label mb-0 ms-3" for="rememberMe">Remember me</label>
								</div>
								<div class="text-center mt-4">
									<button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">Sign in</button>
								</div>
								<!-- <p class="mt-4 text-sm text-center">
								  Don't have an account?
								  <a href="../../../pages/authentication/signup/illustration.html"
									class="text-primary text-gradient font-weight-bold">Sign up</a>
								</p> -->
								<h6 class="text-danger">@ViewBag.Message</h6>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

    <script src="~/js/core/popper.min.js"></script>
    <script src="~/js/core/bootstrap.min.js"></script>
    <script src="~/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/js/plugins/smooth-scrollbar.min.js"></script>

    <script src="~/js/material-dashboard.min.js?v=3.0.6"></script>
</body>

</html>